In [1]:
import os

In [2]:
import glob

In [3]:
import psycopg2
import pandas as pd

# DATA EXTRACTION

# Extracting the song_data and merging all json files to one document

In [174]:
song_filepath = '/Users/apple/Documents/ETL/project-template/data/song_data'
song_files = []
def get_data(filepath):
    # get all files matching extension from directory
    
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            with open(f,) as infile:
                song_files.append(json.load(infile))

        with open("merged_file.json",'w') as outfile:

            json.dump(song_files, outfile)
    print(song_files)

get_data(song_filepath)
song_files

[{'num_songs': 1, 'artist_id': 'AR7G5I41187FB4CE6C', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'London, England', 'artist_name': 'Adam Ant', 'song_id': 'SONHOTT12A8C13493C', 'title': 'Something Girls', 'duration': 233.40363, 'year': 1982}, {'num_songs': 1, 'artist_id': 'AR8ZCNI1187B9A069B', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Planet P Project', 'song_id': 'SOIAZJW12AB01853F1', 'title': 'Pink World', 'duration': 269.81832, 'year': 1984}, {'num_songs': 1, 'artist_id': 'ARXR32B1187FB57099', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Gob', 'song_id': 'SOFSOCN12A8C143F5D', 'title': 'Face the Ashes', 'duration': 209.60608, 'year': 2007}, {'num_songs': 1, 'artist_id': 'AR10USD1187B99F3F1', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Burlington, Ontario, Canada', 'artist_name': 'Tweeterfriendly Music', 'song_id': 'SOHKNRJ12A6701D1F8', 'title': 'Drop of Rain', 'duration': 189.57016, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARGSJW91187B9B1D6B', 'artist_latitude': 35.21962, 'artist_longitude': -80.01955, 'artist_location': 'North Carolina', 'artist_name': 'JennyAnyKind', 'song_id': 'SOQHXMF12AB0182363', 'title': 'Young Boy Blues', 'duration': 218.77506, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARMJAGH1187FB546F3', 'artist_latitude': 35.14968, 'artist_longitude': -90.04892, 'artist_location': 'Memphis, TN', 'artist_name': 'The Box Tops', 'song_id': 'SOCIWDW12A8C13D406', 'title': 'Soul Deep', 'duration': 148.03546, 'year': 1969}, {'num_songs': 1, 'artist_id': 'ARD7TVE1187B99BFB1', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'California - LA', 'artist_name': 'Casual', 'song_id': 'SOMZWCG12A8C13C480', 'title': "I Didn't Mean To", 'duration': 218.93179, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARKRRTF1187B9984DA', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Sonora Santanera', 'song_id': 'SOXVLOJ12AB0189215', 'title': 'Amor De Cabaret', 'duration': 177.47546, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARNTLGG11E2835DDB9', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Clp', 'song_id': 'SOUDSGM12AC9618304', 'title': 'Insatiable (Instrumental Version)', 'duration': 266.39628, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARKFYS91187B98E58F', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Jeff And Sheri Easter', 'song_id': 'SOYMRWW12A6D4FAB14', 'title': 'The Moon And I (Ordinary Day Album Version)', 'duration': 267.7024, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARD0S291187B9B7BF5', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Ohio', 'artist_name': 'Rated R', 'song_id': 'SOMJBYD12A6D4F8557', 'title': 'Keepin It Real (Skit)', 'duration': 114.78159, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARH4Z031187B9A71F2', 'artist_latitude': 40.73197, 'artist_longitude': -74.17418, 'artist_location': 'Newark, NJ', 'artist_name': 'Faye Adams', 'song_id': 'SOVYKGO12AB0187199', 'title': 'Crazy Mixed Up World', 'duration': 156.39465, 'year': 1961}, {'num_songs': 1, 'artist_id': 'ARB29H41187B98F0EF', 'artist_latitude': 41.88415, 'artist_longitude': -87.63241, 'artist_location': 'Chicago', 'artist_name': 'Terry Callier', 'song_id': 'SOGNCJP12A58A80271', 'title': 'Do You Finally Need A Friend', 'duration': 342.56934, 'year': 1972}, {'num_songs': 1, 'artist_id': 'AR0RCMP1187FB3F427', 'artist_latitude': 30.08615, 'artist_longitude': -94.10158, 'artist_location': 'Beaumont, TX', 'artist_name': 'Billie Jo Spears', 'song_id': 'SOGXHEG12AB018653E', 'title': 'It Makes No Difference Now', 'duration': 133.32853, 'year': 1992}, {'num_songs': 1, 'artist_id': 'AR47JEX1187B995D81', 'artist_latitude': 37.83721, 'artist_longitude': -94.35868, 'artist_location': 'Nevada, MO', 'artist_name': 'SUE THOMPSON', 'song_id': 'SOBLGCN12AB0183212', 'title': 'James (Hold The Ladder Steady)', 'duration': 124.86485, 'year': 1985}, {'num_songs': 1, 'artist_id': 'ARNTLGG11E2835DDB9', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Clp', 'song_id': 'SOZQDIU12A58A7BCF6', 'title': 'Superconfidential', 'duration': 338.31138, 'year': 0}, {'num_songs': 1, 'artist_id': 'AREBBGV1187FB523D2', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Houston, TX', 'artist_name': "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'song_id': 'SOOLYAZ12A6701F4A6', 'title': 'Laws Patrolling (Album Version)', 'duration': 173.66159, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARMAC4T1187FB3FA4C', 'artist_latitude': 40.82624, 'artist_longitude': -74.47995, 'artist_location': 'Morris Plains, NJ', 'artist_name': 'The Dillinger Escape Plan', 'song_id': 'SOBBUGU12A8C13E95D', 'title': 'Setting Fire to Sleeping Giants', 'duration': 207.77751, 'year': 2004}, {'num_songs': 1, 'artist_id': 'ARAJPHH1187FB5566A', 'artist_latitude': 40.7038, 'artist_longitude': -73.83168, 'artist_location': 'Queens, NY', 'artist_name': 'The Shangri-Las', 'song_id': 'SOYTPEP12AB0180E7B', 'title': 'Twist and Shout', 'duration': 164.80608, 'year': 1964}, {'num_songs': 1, 'artist_id': 'ARGIWFO1187B9B55B7', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Five Bolt Main', 'song_id': 'SOPSWQW12A6D4F8781', 'title': 'Made Like This (Live)', 'duration': 225.09669, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARDNS031187B9924F0', 'artist_latitude': 32.67828, 'artist_longitude': -83.22295, 'artist_location': 'Georgia', 'artist_name': 'Tim Wilson', 'song_id': 'SONYPOM12A8C13B2D7', 'title': 'I Think My Wife Is Running Around On Me (Taco Hell)', 'duration': 186.48771, 'year': 2005}, {'num_songs': 1, 'artist_id': 'ARGUVEV1187B98BA17', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Sierra Maestra', 'song_id': 'SOGOSOV12AF72A285E', 'title': '¿Dónde va Chichi?', 'duration': 313.12934, 'year': 1997}, {'num_songs': 1, 'artist_id': 'AR5KOSW1187FB35FF4', 'artist_latitude': 49.80388, 'artist_longitude': 15.47491, 'artist_location': 'Dubai UAE', 'artist_name': 'Elena', 'song_id': 'SOZCTXZ12AB0182364', 'title': 'Setanta matins', 'duration': 269.58322, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR1Y2PT1187FB5B9CE', 'artist_latitude': 27.94017, 'artist_longitude': -82.32547, 'artist_location': 'Brandon', 'artist_name': 'John Wesley', 'song_id': 'SOLLHMX12AB01846DC', 'title': 'The Emperor Falls', 'duration': 484.62322, 'year': 0}, {'num_songs': 1, 'artist_id': 'AROUOZZ1187B9ABE51', 'artist_latitude': 40.79195, 'artist_longitude': -73.94512, 'artist_location': 'New York, NY [Spanish Harlem]', 'artist_name': 'Willie Bobo', 'song_id': 'SOBZBAZ12A6D4F8742', 'title': 'Spanish Grease', 'duration': 168.25424, 'year': 1997}, {'num_songs': 1, 'artist_id': 'ARL7K851187B99ACD2', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Andy Andy', 'song_id': 'SOMUYGI12AB0188633', 'title': 'La Culpa', 'duration': 226.35057, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARNPAGP1241B9C7FD4', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'lextrical', 'song_id': 'SOZVMJI12AB01808AF', 'title': 'Synthetic Dream', 'duration': 165.69424, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARQGYP71187FB44566', 'artist_latitude': 34.31109, 'artist_longitude': -94.02978, 'artist_location': 'Mineola, AR', 'artist_name': 'Jimmy Wakely', 'song_id': 'SOWTBJW12AC468AC6E', 'title': 'Broken-Down Merry-Go-Round', 'duration': 151.84934, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARIG6O41187B988BDD', 'artist_latitude': 37.16793, 'artist_longitude': -95.84502, 'artist_location': 'United States', 'artist_name': 'Richard Souther', 'song_id': 'SOUQQEA12A8C134B1B', 'title': 'High Tide', 'duration': 228.5971, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARHHO3O1187B989413', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Bob Azzam', 'song_id': 'SORAMLE12AB017C8B0', 'title': 'Auguri Cha Cha', 'duration': 191.84281, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARC43071187B990240', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Wisner, LA', 'artist_name': 'Wayne Watson', 'song_id': 'SOKEJEJ12A8C13E0D0', 'title': 'The Urgency (LP Version)', 'duration': 245.21098, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARI3BMM1187FB4255E', 'artist_latitude': 38.8991, 'artist_longitude': -77.029, 'artist_location': 'Washington', 'artist_name': 'Alice Stuart', 'song_id': 'SOBEBDG12A58A76D60', 'title': 'Kassie Jones', 'duration': 220.78649, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARIK43K1187B9AE54C', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Beverly Hills, CA', 'artist_name': 'Lionel Richie', 'song_id': 'SOBONFF12A6D4F84D8', 'title': 'Tonight Will Be Alright', 'duration': 307.3824, 'year': 1986}, {'num_songs': 1, 'artist_id': 'ARD842G1187B997376', 'artist_latitude': 43.64856, 'artist_longitude': -79.38533, 'artist_location': 'Toronto, Ontario, Canada', 'artist_name': 'Blue Rodeo', 'song_id': 'SOHUOAP12A8AE488E9', 'title': 'Floating', 'duration': 491.12771, 'year': 1987}, {'num_songs': 1, 'artist_id': 'AR1ZHYZ1187FB3C717', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Faiz Ali Faiz', 'song_id': 'SOILPQQ12AB017E82A', 'title': 'Sohna Nee Sohna Data', 'duration': 599.24853, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARYKCQI1187FB3B18F', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Tesla', 'song_id': 'SOXLBJT12A8C140925', 'title': 'Caught In A Dream', 'duration': 290.29832, 'year': 2004}, {'num_songs': 1, 'artist_id': 'ARMBR4Y1187B9990EB', 'artist_latitude': 37.77916, 'artist_longitude': -122.42005, 'artist_location': 'California - SF', 'artist_name': 'David Martin', 'song_id': 'SOTTDKS12AB018D69B', 'title': 'It Wont Be Christmas', 'duration': 241.47546, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR9AWNF1187B9AB0B4', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Seattle, Washington USA', 'artist_name': 'Kenny G featuring Daryl Hall', 'song_id': 'SOZHPGD12A8C1394FE', 'title': 'Baby Come To Me', 'duration': 236.93016, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARQ9BO41187FB5CF1F', 'artist_latitude': 40.99471, 'artist_longitude': -77.60454, 'artist_location': 'Pennsylvania', 'artist_name': 'John Davis', 'song_id': 'SOMVWWT12A58A7AE05', 'title': 'Knocked Out Of The Park', 'duration': 183.17016, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR3JMC51187B9AE49D', 'artist_latitude': 28.53823, 'artist_longitude': -81.37739, 'artist_location': 'Orlando, FL', 'artist_name': 'Backstreet Boys', 'song_id': 'SOPVXLX12A8C1402D5', 'title': 'Larger Than Life', 'duration': 236.25098, 'year': 1999}, {'num_songs': 1, 'artist_id': 'AREDBBQ1187B98AFF5', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Eddie Calvert', 'song_id': 'SOBBXLX12A58A79DDA', 'title': 'Erica (2005 Digital Remaster)', 'duration': 138.63138, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARPBNLO1187FB3D52F', 'artist_latitude': 40.71455, 'artist_longitude': -74.00712, 'artist_location': 'New York, NY', 'artist_name': 'Tiny Tim', 'song_id': 'SOAOIBZ12AB01815BE', 'title': 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 'duration': 43.36281, 'year': 2000}, {'num_songs': 1, 'artist_id': 'ARKULSX1187FB45F84', 'artist_latitude': 39.49974, 'artist_longitude': -111.54732, 'artist_location': 'Utah', 'artist_name': 'Trafik', 'song_id': 'SOQVMXR12A81C21483', 'title': 'Salt In NYC', 'duration': 424.12363, 'year': 0}, {'num_songs': 1, 'artist_id': 'AROGWRA122988FEE45', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Christos Dantis', 'song_id': 'SOSLAVG12A8C13397F', 'title': 'Den Pai Alo', 'duration': 243.82649, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARI2JSK1187FB496EF', 'artist_latitude': 51.50632, 'artist_longitude': -0.12714, 'artist_location': 'London, England', 'artist_name': 'Nick Ingman;Gavyn Wright', 'song_id': 'SODUJBS12A8C132150', 'title': 'Wessex Loses a Bride', 'duration': 111.62077, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARD7TVE1187B99BFB1', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'California - LA', 'artist_name': 'Casual', 'song_id': 'SOQLGFP12A58A7800E', 'title': 'OAKtown', 'duration': 259.44771, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR7ZKHQ1187B98DD73', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Glad', 'song_id': 'SOTUKVB12AB0181477', 'title': 'Blessed Assurance', 'duration': 270.602, 'year': 1993}, {'num_songs': 1, 'artist_id': 'ARLTWXK1187FB5A3F8', 'artist_latitude': 32.74863, 'artist_longitude': -97.32925, 'artist_location': 'Fort Worth, TX', 'artist_name': 'King Curtis', 'song_id': 'SODREIN12A58A7F2E5', 'title': 'A Whiter Shade Of Pale (Live @ Fillmore West)', 'duration': 326.00771, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARULZCI1241B9C8611', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Luna Orbit Project', 'song_id': 'SOSWKAV12AB018FC91', 'title': 'Midnight Star', 'duration': 335.51628, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARPFHN61187FB575F6', 'artist_latitude': 41.88415, 'artist_longitude': -87.63241, 'artist_location': 'Chicago, IL', 'artist_name': 'Lupe Fiasco', 'song_id': 'SOWQTQZ12A58A7B63E', 'title': 'Streets On Fire (Explicit Album Version)', 'duration': 279.97995, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARJIE2Y1187B994AB7', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Line Renaud', 'song_id': 'SOUPIRU12A6D4FA1E1', 'title': 'Der Kleine Dompfaff', 'duration': 152.92036, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR0IAWL1187B9A96D0', 'artist_latitude': 8.4177, 'artist_longitude': -80.11278, 'artist_location': 'Panama', 'artist_name': 'Danilo Perez', 'song_id': 'SONSKXP12A8C13A2C9', 'title': 'Native Soul', 'duration': 197.19791, 'year': 2003}, {'num_songs': 1, 'artist_id': 'ARVBRGZ1187FB4675A', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Gwen Stefani', 'song_id': 'SORRZGD12A6310DBC3', 'title': 'Harajuku Girls', 'duration': 290.55955, 'year': 2004}, {'num_songs': 1, 'artist_id': 'AR8IEZO1187B99055E', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Marc Shaiman', 'song_id': 'SOINLJW12A8C13314C', 'title': 'City Slickers', 'duration': 149.86404, 'year': 2008}, {'num_songs': 1, 'artist_id': 'ARWB3G61187FB49404', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Hamilton, Ohio', 'artist_name': 'Steve Morse', 'song_id': 'SODAUVL12A8C13D184', 'title': 'Prognosis', 'duration': 363.85914, 'year': 2000}, {'num_songs': 1, 'artist_id': 'AR051KA1187B98B2FF', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Wilks', 'song_id': 'SOLYIBD12A8C135045', 'title': 'Music is what we love', 'duration': 261.51138, 'year': 0}, {'num_songs': 1, 'artist_id': 'AREVWGE1187B9B890A', 'artist_latitude': -13.442, 'artist_longitude': -41.9952, 'artist_location': 'Noci (BA)', 'artist_name': 'Bitter End', 'song_id': 'SOFCHDR12AB01866EF', 'title': 'Living Hell', 'duration': 282.43546, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARNF6401187FB57032', 'artist_latitude': 40.79086, 'artist_longitude': -73.96644, 'artist_location': 'New York, NY [Manhattan]', 'artist_name': 'Sophie B. Hawkins', 'song_id': 'SONWXQJ12A8C134D94', 'title': 'The Ballad Of Sleeping Beauty', 'duration': 305.162, 'year': 1994}, {'num_songs': 1, 'artist_id': 'AR558FS1187FB45658', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': '40 Grit', 'song_id': 'SOGDBUF12A8C140FAA', 'title': 'Intro', 'duration': 75.67628, 'year': 2003}, {'num_songs': 1, 'artist_id': 'AR36F9J1187FB406F1', 'artist_latitude': 56.27609, 'artist_longitude': 9.51695, 'artist_location': 'Denmark', 'artist_name': 'Bombay Rockers', 'song_id': 'SOBKWDJ12A8C13B2F3', 'title': 'Wild Rose (Back 2 Basics Mix)', 'duration': 230.71302, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR7SMBG1187B9B9066', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Los Manolos', 'song_id': 'SOBCOSW12A8C13D398', 'title': 'Rumba De Barcelona', 'duration': 218.38322, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARDR4AC1187FB371A1', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', 'song_id': 'SOBAYLL12A8C138AF9', 'title': 'Sono andati? Fingevo di dormire', 'duration': 511.16363, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARBGXIG122988F409D', 'artist_latitude': 37.77916, 'artist_longitude': -122.42005, 'artist_location': 'California - SF', 'artist_name': 'Steel Rain', 'song_id': 'SOOJPRH12A8C141995', 'title': 'Loaded Like A Gun', 'duration': 173.19138, 'year': 0}, {'num_songs': 1, 'artist_id': 'AREDL271187FB40F44', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Soul Mekanik', 'song_id': 'SOPEGZN12AB0181B3D', 'title': 'Get Your Head Stuck On Your Neck', 'duration': 45.66159, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARP6N5A1187B99D1A3', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Hamtramck, MI', 'artist_name': 'Mitch Ryder', 'song_id': 'SOXILUQ12A58A7C72A', 'title': 'Jenny Take a Ride', 'duration': 207.43791, 'year': 2004}, {'num_songs': 1, 'artist_id': 'ARGSAFR1269FB35070', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Blingtones', 'song_id': 'SOTCKKY12AB018A141', 'title': 'Sonnerie lalaleulé hi houuu', 'duration': 29.54404, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARAGB2O1187FB3A161', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Pucho & His Latin Soul Brothers', 'song_id': 'SOLEYHO12AB0188A85', 'title': 'Got My Mojo Workin', 'duration': 338.23302, 'year': 0}, {'num_songs': 1, 'artist_id': 'AR62SOJ1187FB47BB5', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': '', 'artist_name': 'Chase & Status', 'song_id': 'SOGVQGJ12AB017F169', 'title': 'Ten Tonne', 'duration': 337.68444, 'year': 2005}, {'num_songs': 1, 'artist_id': 'ARBEBBY1187B9B43DB', 'artist_latitude': None, 'artist_longitude': None, 'artist_location': 'Gainesville, FL', 'artist_name': 'Tom Petty', 'song_id': 'SOFFKZS12AB017F194', 'title': 'A Higher Place (Album Version)', 'duration': 236.17261, 'year': 1994}, {'num_songs': 1, 'artist_id': 'ARNNKDK1187B98BBD5', 'artist_latitude': 45.80726, 'artist_longitude': 15.9676, 'artist_location': 'Zagreb Croatia', 'artist_name': 'Jinx', 'song_id': 'SOFNOQK12AB01840FC', 'title': 'Kutt Free (DJ Volume Remix)', 'duration': 407.37914, 'year': 0}, {'num_songs': 1, 'artist_id': 'ARGCY1Y1187B9A4FA5', 'artist_latitude': 36.16778, 'artist_longitude': -86.77836, 'artist_location': 'Nashville, TN.', 'artist_name': 'Gloriana', 'song_id': 'SOQOTLQ12AB01868D0', 'title': 'Clementina Santafè', 'duration': 153.33832, 'year': 0}]

[{'num_songs': 1,
  'artist_id': 'AR7G5I41187FB4CE6C',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'London, England',
  'artist_name': 'Adam Ant',
  'song_id': 'SONHOTT12A8C13493C',
  'title': 'Something Girls',
  'duration': 233.40363,
  'year': 1982},
 {'num_songs': 1,
  'artist_id': 'AR8ZCNI1187B9A069B',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Planet P Project',
  'song_id': 'SOIAZJW12AB01853F1',
  'title': 'Pink World',
  'duration': 269.81832,
  'year': 1984},
 {'num_songs': 1,
  'artist_id': 'ARXR32B1187FB57099',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Gob',
  'song_id': 'SOFSOCN12A8C143F5D',
  'title': 'Face the Ashes',
  'duration': 209.60608,
  'year': 2007},
 {'num_songs': 1,
  'artist_id': 'AR10USD1187B99F3F1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Burlington, Ontario, Canada',
  'artist_name': 'Tweeterfriendly Music',
  'song_id': 'SOHKNRJ12A6701D1F8',
  'title': 'Drop of Rain',
  'duration': 189.57016,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARGSJW91187B9B1D6B',
  'artist_latitude': 35.21962,
  'artist_longitude': -80.01955,
  'artist_location': 'North Carolina',
  'artist_name': 'JennyAnyKind',
  'song_id': 'SOQHXMF12AB0182363',
  'title': 'Young Boy Blues',
  'duration': 218.77506,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARMJAGH1187FB546F3',
  'artist_latitude': 35.14968,
  'artist_longitude': -90.04892,
  'artist_location': 'Memphis, TN',
  'artist_name': 'The Box Tops',
  'song_id': 'SOCIWDW12A8C13D406',
  'title': 'Soul Deep',
  'duration': 148.03546,
  'year': 1969},
 {'num_songs': 1,
  'artist_id': 'ARD7TVE1187B99BFB1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'California - LA',
  'artist_name': 'Casual',
  'song_id': 'SOMZWCG12A8C13C480',
  'title': "I Didn't Mean To",
  'duration': 218.93179,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARKRRTF1187B9984DA',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Sonora Santanera',
  'song_id': 'SOXVLOJ12AB0189215',
  'title': 'Amor De Cabaret',
  'duration': 177.47546,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARNTLGG11E2835DDB9',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Clp',
  'song_id': 'SOUDSGM12AC9618304',
  'title': 'Insatiable (Instrumental Version)',
  'duration': 266.39628,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARKFYS91187B98E58F',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Jeff And Sheri Easter',
  'song_id': 'SOYMRWW12A6D4FAB14',
  'title': 'The Moon And I (Ordinary Day Album Version)',
  'duration': 267.7024,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARD0S291187B9B7BF5',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Ohio',
  'artist_name': 'Rated R',
  'song_id': 'SOMJBYD12A6D4F8557',
  'title': 'Keepin It Real (Skit)',
  'duration': 114.78159,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARH4Z031187B9A71F2',
  'artist_latitude': 40.73197,
  'artist_longitude': -74.17418,
  'artist_location': 'Newark, NJ',
  'artist_name': 'Faye Adams',
  'song_id': 'SOVYKGO12AB0187199',
  'title': 'Crazy Mixed Up World',
  'duration': 156.39465,
  'year': 1961},
 {'num_songs': 1,
  'artist_id': 'ARB29H41187B98F0EF',
  'artist_latitude': 41.88415,
  'artist_longitude': -87.63241,
  'artist_location': 'Chicago',
  'artist_name': 'Terry Callier',
  'song_id': 'SOGNCJP12A58A80271',
  'title': 'Do You Finally Need A Friend',
  'duration': 342.56934,
  'year': 1972},
 {'num_songs': 1,
  'artist_id': 'AR0RCMP1187FB3F427',
  'artist_latitude': 30.08615,
  'artist_longitude': -94.10158,
  'artist_location': 'Beaumont, TX',
  'artist_name': 'Billie Jo Spears',
  'song_id': 'SOGXHEG12AB018653E',
  'title': 'It Makes No Difference Now',
  'duration': 133.32853,
  'year': 1992},
 {'num_songs': 1,
  'artist_id': 'AR47JEX1187B995D81',
  'artist_latitude': 37.83721,
  'artist_longitude': -94.35868,
  'artist_location': 'Nevada, MO',
  'artist_name': 'SUE THOMPSON',
  'song_id': 'SOBLGCN12AB0183212',
  'title': 'James (Hold The Ladder Steady)',
  'duration': 124.86485,
  'year': 1985},
 {'num_songs': 1,
  'artist_id': 'ARNTLGG11E2835DDB9',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Clp',
  'song_id': 'SOZQDIU12A58A7BCF6',
  'title': 'Superconfidential',
  'duration': 338.31138,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AREBBGV1187FB523D2',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Houston, TX',
  'artist_name': "Mike Jones (Featuring CJ_ Mello & Lil' Bran)",
  'song_id': 'SOOLYAZ12A6701F4A6',
  'title': 'Laws Patrolling (Album Version)',
  'duration': 173.66159,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARMAC4T1187FB3FA4C',
  'artist_latitude': 40.82624,
  'artist_longitude': -74.47995,
  'artist_location': 'Morris Plains, NJ',
  'artist_name': 'The Dillinger Escape Plan',
  'song_id': 'SOBBUGU12A8C13E95D',
  'title': 'Setting Fire to Sleeping Giants',
  'duration': 207.77751,
  'year': 2004},
 {'num_songs': 1,
  'artist_id': 'ARAJPHH1187FB5566A',
  'artist_latitude': 40.7038,
  'artist_longitude': -73.83168,
  'artist_location': 'Queens, NY',
  'artist_name': 'The Shangri-Las',
  'song_id': 'SOYTPEP12AB0180E7B',
  'title': 'Twist and Shout',
  'duration': 164.80608,
  'year': 1964},
 {'num_songs': 1,
  'artist_id': 'ARGIWFO1187B9B55B7',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Five Bolt Main',
  'song_id': 'SOPSWQW12A6D4F8781',
  'title': 'Made Like This (Live)',
  'duration': 225.09669,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARDNS031187B9924F0',
  'artist_latitude': 32.67828,
  'artist_longitude': -83.22295,
  'artist_location': 'Georgia',
  'artist_name': 'Tim Wilson',
  'song_id': 'SONYPOM12A8C13B2D7',
  'title': 'I Think My Wife Is Running Around On Me (Taco Hell)',
  'duration': 186.48771,
  'year': 2005},
 {'num_songs': 1,
  'artist_id': 'ARGUVEV1187B98BA17',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Sierra Maestra',
  'song_id': 'SOGOSOV12AF72A285E',
  'title': '¿Dónde va Chichi?',
  'duration': 313.12934,
  'year': 1997},
 {'num_songs': 1,
  'artist_id': 'AR5KOSW1187FB35FF4',
  'artist_latitude': 49.80388,
  'artist_longitude': 15.47491,
  'artist_location': 'Dubai UAE',
  'artist_name': 'Elena',
  'song_id': 'SOZCTXZ12AB0182364',
  'title': 'Setanta matins',
  'duration': 269.58322,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR1Y2PT1187FB5B9CE',
  'artist_latitude': 27.94017,
  'artist_longitude': -82.32547,
  'artist_location': 'Brandon',
  'artist_name': 'John Wesley',
  'song_id': 'SOLLHMX12AB01846DC',
  'title': 'The Emperor Falls',
  'duration': 484.62322,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AROUOZZ1187B9ABE51',
  'artist_latitude': 40.79195,
  'artist_longitude': -73.94512,
  'artist_location': 'New York, NY [Spanish Harlem]',
  'artist_name': 'Willie Bobo',
  'song_id': 'SOBZBAZ12A6D4F8742',
  'title': 'Spanish Grease',
  'duration': 168.25424,
  'year': 1997},
 {'num_songs': 1,
  'artist_id': 'ARL7K851187B99ACD2',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Andy Andy',
  'song_id': 'SOMUYGI12AB0188633',
  'title': 'La Culpa',
  'duration': 226.35057,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARNPAGP1241B9C7FD4',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'lextrical',
  'song_id': 'SOZVMJI12AB01808AF',
  'title': 'Synthetic Dream',
  'duration': 165.69424,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARQGYP71187FB44566',
  'artist_latitude': 34.31109,
  'artist_longitude': -94.02978,
  'artist_location': 'Mineola, AR',
  'artist_name': 'Jimmy Wakely',
  'song_id': 'SOWTBJW12AC468AC6E',
  'title': 'Broken-Down Merry-Go-Round',
  'duration': 151.84934,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARIG6O41187B988BDD',
  'artist_latitude': 37.16793,
  'artist_longitude': -95.84502,
  'artist_location': 'United States',
  'artist_name': 'Richard Souther',
  'song_id': 'SOUQQEA12A8C134B1B',
  'title': 'High Tide',
  'duration': 228.5971,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARHHO3O1187B989413',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Bob Azzam',
  'song_id': 'SORAMLE12AB017C8B0',
  'title': 'Auguri Cha Cha',
  'duration': 191.84281,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARC43071187B990240',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Wisner, LA',
  'artist_name': 'Wayne Watson',
  'song_id': 'SOKEJEJ12A8C13E0D0',
  'title': 'The Urgency (LP Version)',
  'duration': 245.21098,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARI3BMM1187FB4255E',
  'artist_latitude': 38.8991,
  'artist_longitude': -77.029,
  'artist_location': 'Washington',
  'artist_name': 'Alice Stuart',
  'song_id': 'SOBEBDG12A58A76D60',
  'title': 'Kassie Jones',
  'duration': 220.78649,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARIK43K1187B9AE54C',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Beverly Hills, CA',
  'artist_name': 'Lionel Richie',
  'song_id': 'SOBONFF12A6D4F84D8',
  'title': 'Tonight Will Be Alright',
  'duration': 307.3824,
  'year': 1986},
 {'num_songs': 1,
  'artist_id': 'ARD842G1187B997376',
  'artist_latitude': 43.64856,
  'artist_longitude': -79.38533,
  'artist_location': 'Toronto, Ontario, Canada',
  'artist_name': 'Blue Rodeo',
  'song_id': 'SOHUOAP12A8AE488E9',
  'title': 'Floating',
  'duration': 491.12771,
  'year': 1987},
 {'num_songs': 1,
  'artist_id': 'AR1ZHYZ1187FB3C717',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Faiz Ali Faiz',
  'song_id': 'SOILPQQ12AB017E82A',
  'title': 'Sohna Nee Sohna Data',
  'duration': 599.24853,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARYKCQI1187FB3B18F',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Tesla',
  'song_id': 'SOXLBJT12A8C140925',
  'title': 'Caught In A Dream',
  'duration': 290.29832,
  'year': 2004},
 {'num_songs': 1,
  'artist_id': 'ARMBR4Y1187B9990EB',
  'artist_latitude': 37.77916,
  'artist_longitude': -122.42005,
  'artist_location': 'California - SF',
  'artist_name': 'David Martin',
  'song_id': 'SOTTDKS12AB018D69B',
  'title': 'It Wont Be Christmas',
  'duration': 241.47546,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR9AWNF1187B9AB0B4',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Seattle, Washington USA',
  'artist_name': 'Kenny G featuring Daryl Hall',
  'song_id': 'SOZHPGD12A8C1394FE',
  'title': 'Baby Come To Me',
  'duration': 236.93016,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARQ9BO41187FB5CF1F',
  'artist_latitude': 40.99471,
  'artist_longitude': -77.60454,
  'artist_location': 'Pennsylvania',
  'artist_name': 'John Davis',
  'song_id': 'SOMVWWT12A58A7AE05',
  'title': 'Knocked Out Of The Park',
  'duration': 183.17016,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR3JMC51187B9AE49D',
  'artist_latitude': 28.53823,
  'artist_longitude': -81.37739,
  'artist_location': 'Orlando, FL',
  'artist_name': 'Backstreet Boys',
  'song_id': 'SOPVXLX12A8C1402D5',
  'title': 'Larger Than Life',
  'duration': 236.25098,
  'year': 1999},
 {'num_songs': 1,
  'artist_id': 'AREDBBQ1187B98AFF5',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Eddie Calvert',
  'song_id': 'SOBBXLX12A58A79DDA',
  'title': 'Erica (2005 Digital Remaster)',
  'duration': 138.63138,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARPBNLO1187FB3D52F',
  'artist_latitude': 40.71455,
  'artist_longitude': -74.00712,
  'artist_location': 'New York, NY',
  'artist_name': 'Tiny Tim',
  'song_id': 'SOAOIBZ12AB01815BE',
  'title': 'I Hold Your Hand In Mine [Live At Royal Albert Hall]',
  'duration': 43.36281,
  'year': 2000},
 {'num_songs': 1,
  'artist_id': 'ARKULSX1187FB45F84',
  'artist_latitude': 39.49974,
  'artist_longitude': -111.54732,
  'artist_location': 'Utah',
  'artist_name': 'Trafik',
  'song_id': 'SOQVMXR12A81C21483',
  'title': 'Salt In NYC',
  'duration': 424.12363,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AROGWRA122988FEE45',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Christos Dantis',
  'song_id': 'SOSLAVG12A8C13397F',
  'title': 'Den Pai Alo',
  'duration': 243.82649,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARI2JSK1187FB496EF',
  'artist_latitude': 51.50632,
  'artist_longitude': -0.12714,
  'artist_location': 'London, England',
  'artist_name': 'Nick Ingman;Gavyn Wright',
  'song_id': 'SODUJBS12A8C132150',
  'title': 'Wessex Loses a Bride',
  'duration': 111.62077,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARD7TVE1187B99BFB1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'California - LA',
  'artist_name': 'Casual',
  'song_id': 'SOQLGFP12A58A7800E',
  'title': 'OAKtown',
  'duration': 259.44771,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR7ZKHQ1187B98DD73',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Glad',
  'song_id': 'SOTUKVB12AB0181477',
  'title': 'Blessed Assurance',
  'duration': 270.602,
  'year': 1993},
 {'num_songs': 1,
  'artist_id': 'ARLTWXK1187FB5A3F8',
  'artist_latitude': 32.74863,
  'artist_longitude': -97.32925,
  'artist_location': 'Fort Worth, TX',
  'artist_name': 'King Curtis',
  'song_id': 'SODREIN12A58A7F2E5',
  'title': 'A Whiter Shade Of Pale (Live @ Fillmore West)',
  'duration': 326.00771,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARULZCI1241B9C8611',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Luna Orbit Project',
  'song_id': 'SOSWKAV12AB018FC91',
  'title': 'Midnight Star',
  'duration': 335.51628,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARPFHN61187FB575F6',
  'artist_latitude': 41.88415,
  'artist_longitude': -87.63241,
  'artist_location': 'Chicago, IL',
  'artist_name': 'Lupe Fiasco',
  'song_id': 'SOWQTQZ12A58A7B63E',
  'title': 'Streets On Fire (Explicit Album Version)',
  'duration': 279.97995,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARJIE2Y1187B994AB7',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Line Renaud',
  'song_id': 'SOUPIRU12A6D4FA1E1',
  'title': 'Der Kleine Dompfaff',
  'duration': 152.92036,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR0IAWL1187B9A96D0',
  'artist_latitude': 8.4177,
  'artist_longitude': -80.11278,
  'artist_location': 'Panama',
  'artist_name': 'Danilo Perez',
  'song_id': 'SONSKXP12A8C13A2C9',
  'title': 'Native Soul',
  'duration': 197.19791,
  'year': 2003},
 {'num_songs': 1,
  'artist_id': 'ARVBRGZ1187FB4675A',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Gwen Stefani',
  'song_id': 'SORRZGD12A6310DBC3',
  'title': 'Harajuku Girls',
  'duration': 290.55955,
  'year': 2004},
 {'num_songs': 1,
  'artist_id': 'AR8IEZO1187B99055E',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Marc Shaiman',
  'song_id': 'SOINLJW12A8C13314C',
  'title': 'City Slickers',
  'duration': 149.86404,
  'year': 2008},
 {'num_songs': 1,
  'artist_id': 'ARWB3G61187FB49404',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Hamilton, Ohio',
  'artist_name': 'Steve Morse',
  'song_id': 'SODAUVL12A8C13D184',
  'title': 'Prognosis',
  'duration': 363.85914,
  'year': 2000},
 {'num_songs': 1,
  'artist_id': 'AR051KA1187B98B2FF',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Wilks',
  'song_id': 'SOLYIBD12A8C135045',
  'title': 'Music is what we love',
  'duration': 261.51138,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AREVWGE1187B9B890A',
  'artist_latitude': -13.442,
  'artist_longitude': -41.9952,
  'artist_location': 'Noci (BA)',
  'artist_name': 'Bitter End',
  'song_id': 'SOFCHDR12AB01866EF',
  'title': 'Living Hell',
  'duration': 282.43546,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARNF6401187FB57032',
  'artist_latitude': 40.79086,
  'artist_longitude': -73.96644,
  'artist_location': 'New York, NY [Manhattan]',
  'artist_name': 'Sophie B. Hawkins',
  'song_id': 'SONWXQJ12A8C134D94',
  'title': 'The Ballad Of Sleeping Beauty',
  'duration': 305.162,
  'year': 1994},
 {'num_songs': 1,
  'artist_id': 'AR558FS1187FB45658',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': '40 Grit',
  'song_id': 'SOGDBUF12A8C140FAA',
  'title': 'Intro',
  'duration': 75.67628,
  'year': 2003},
 {'num_songs': 1,
  'artist_id': 'AR36F9J1187FB406F1',
  'artist_latitude': 56.27609,
  'artist_longitude': 9.51695,
  'artist_location': 'Denmark',
  'artist_name': 'Bombay Rockers',
  'song_id': 'SOBKWDJ12A8C13B2F3',
  'title': 'Wild Rose (Back 2 Basics Mix)',
  'duration': 230.71302,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR7SMBG1187B9B9066',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Los Manolos',
  'song_id': 'SOBCOSW12A8C13D398',
  'title': 'Rumba De Barcelona',
  'duration': 218.38322,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARDR4AC1187FB371A1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti',
  'song_id': 'SOBAYLL12A8C138AF9',
  'title': 'Sono andati? Fingevo di dormire',
  'duration': 511.16363,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARBGXIG122988F409D',
  'artist_latitude': 37.77916,
  'artist_longitude': -122.42005,
  'artist_location': 'California - SF',
  'artist_name': 'Steel Rain',
  'song_id': 'SOOJPRH12A8C141995',
  'title': 'Loaded Like A Gun',
  'duration': 173.19138,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AREDL271187FB40F44',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Soul Mekanik',
  'song_id': 'SOPEGZN12AB0181B3D',
  'title': 'Get Your Head Stuck On Your Neck',
  'duration': 45.66159,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARP6N5A1187B99D1A3',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Hamtramck, MI',
  'artist_name': 'Mitch Ryder',
  'song_id': 'SOXILUQ12A58A7C72A',
  'title': 'Jenny Take a Ride',
  'duration': 207.43791,
  'year': 2004},
 {'num_songs': 1,
  'artist_id': 'ARGSAFR1269FB35070',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Blingtones',
  'song_id': 'SOTCKKY12AB018A141',
  'title': 'Sonnerie lalaleulé hi houuu',
  'duration': 29.54404,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARAGB2O1187FB3A161',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Pucho & His Latin Soul Brothers',
  'song_id': 'SOLEYHO12AB0188A85',
  'title': 'Got My Mojo Workin',
  'duration': 338.23302,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR62SOJ1187FB47BB5',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Chase & Status',
  'song_id': 'SOGVQGJ12AB017F169',
  'title': 'Ten Tonne',
  'duration': 337.68444,
  'year': 2005},
 {'num_songs': 1,
  'artist_id': 'ARBEBBY1187B9B43DB',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Gainesville, FL',
  'artist_name': 'Tom Petty',

# Extracting the log_data and merging all json files to one document

In [41]:
# Extract All Log data and combine them into one Json file
file_path ='/Users/apple/Documents/ETL/project-template/data/log_data/2018/11/'
#Get a list of file names in the current folder  
filenames=os.listdir(filedir)
#Open the Result2.json file in the current directory, if not, create it
f=open('Result2.json','w')
#First traverse the file name `insert code piece here`
for filename in filenames:
    filepath = filedir+'/'+filename
    #Traverse a single file, read the number of lines
    for line in open(filepath):
        f.writelines(line)
        f.write('\n')
#Close file
f.close()

# DATA TRANSFORMATION

# Time dataframe

In [475]:
# convert timestamp column to datetime
t = pd.to_datetime(df['ts'], unit='ms')

# insert time data records
time_data = (t, t.dt.hour, t.dt.day, t.dt.weekofyear,
                t.dt.month, t.dt.year, t.dt.weekday)
column_labels = ('timestamp', 'hour', 'day', 'weekofyear', 'month',
                    'year', 'weekday')
time_df = pd.DataFrame({k:v for k, v in zip(column_labels, time_data)})

time_df

<ipython-input-475-081be1a313d2>:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  time_data = (t, t.dt.hour, t.dt.day, t.dt.weekofyear,

                   timestamp  hour  day  weekofyear  month  year  weekday
0    2018-11-11 02:33:56.796     2   11          45     11  2018        6
1    2018-11-11 02:36:10.796     2   11          45     11  2018        6
2    2018-11-11 02:40:34.796     2   11          45     11  2018        6
4    2018-11-11 04:36:13.796     4   11          45     11  2018        6
5    2018-11-11 04:36:46.796     4   11          45     11  2018        6
...                      ...   ...  ...         ...    ...   ...      ...
8051 2018-11-24 20:45:53.796    20   24          47     11  2018        5
8052 2018-11-24 20:49:18.796    20   24          47     11  2018        5
8053 2018-11-24 22:15:50.796    22   24          47     11  2018        5
8054 2018-11-24 22:19:38.796    22   24          47     11  2018        5
8055 2018-11-24 23:46:14.796    23   24          47     11  2018        5

[6820 rows x 7 columns]

# Song, Artist, Time, User and Song play Dataframes

In [134]:
# Convert Combined JSON file into a dataframe to generate sub dataframes

f = pd.read_json('Result2.json', lines=True)

df = f[f['page'] == 'NextSong']

df

# log_df= df[["artist", "firstName", "gender", "lastName", "length", "level", "location", "page", "sessionId", "song", "userId"]]

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8051,Motion City Soundtrack,Logged In,Stefany,F,1,White,205.26975,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,Fell In Love Without You (Acoustic),200,1543092353796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8052,Ticanaf,Logged In,Stefany,F,2,White,2594.87302,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,The Thousand Names of Lord Shiva (Part 1),200,1543092558796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8053,The Far East Movement,Logged In,Ryan,M,0,Smith,228.20526,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,Dance Like Michael Jackson,200,1543097750796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8054,the bird and the bee,Logged In,Ryan,M,1,Smith,189.51791,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,You're A Cad,200,1543097978796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8055,Shakira,Logged In,Christian,F,0,Porter,193.82812,free,"Elkhart-Goshen, IN",PUT,NextSong,1.540897e+12,366,Inevitable,200,1543103174796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",11

In [476]:
timestamp_df = time_df

random_data = np.random.randint(1, 10000000000, size=6820)
random_data

timestamp_insert = timestamp_df

timestamp_insert['time_id'] = random_data

# timestamp_insert['date'] = [d.date() for d in timestamp_insert['timestamp']]
# timestamp_insert['time'] = [d.time() for d in timestamp_insert['timestamp']]

timestamp_insert_df = timestamp_insert[['time_id', 'timestamp', 'year', 'month', 'day', 'hour']]


timestamp_insert_df

         time_id               timestamp  year  month  day  hour
0     1352792249 2018-11-11 02:33:56.796  2018     11   11     2
1     1928658546 2018-11-11 02:36:10.796  2018     11   11     2
2     9041407078 2018-11-11 02:40:34.796  2018     11   11     2
4     3499102888 2018-11-11 04:36:13.796  2018     11   11     4
5     3461891611 2018-11-11 04:36:46.796  2018     11   11     4
...          ...                     ...   ...    ...  ...   ...
8051  8522864199 2018-11-24 20:45:53.796  2018     11   24    20
8052   987261734 2018-11-24 20:49:18.796  2018     11   24    20
8053  3145048258 2018-11-24 22:15:50.796  2018     11   24    22
8054  1008391043 2018-11-24 22:19:38.796  2018     11   24    22
8055  2300834332 2018-11-24 23:46:14.796  2018     11   24    23

[6820 rows x 6 columns]

In [154]:
song_id = songs_df[['song_id']]

song_id

               song_id
0   SONHOTT12A8C13493C
1   SOIAZJW12AB01853F1
2   SOFSOCN12A8C143F5D
3   SOHKNRJ12A6701D1F8
4   SOQHXMF12AB0182363
..                 ...
66  SOLEYHO12AB0188A85
67  SOGVQGJ12AB017F169
68  SOFFKZS12AB017F194
69  SOFNOQK12AB01840FC
70  SOQOTLQ12AB01868D0

[71 rows x 1 columns]

In [444]:
song_play_df = df[['sessionId', 'userId', 'level', 'song', 'artist', 'length', 'location', 'userAgent', 'firstName', 'lastName', 'gender']]
song_play_df = song_play_df.join(timestamp_df)

song_play_df

,sessionId,userId,level,song,artist,length,location,userAgent,firstName,lastName,gender,timestamp
0,455,69,free,Fuck Kitty,Frumpies,134.47791,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:33:56.796
1,455,69,free,By The Time This Night Is Over,Kenny G with Peabo Bryson,264.75057,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:36:10.796
2,455,69,free,God & Satan,Biffy Clyro,189.83138,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:40:34.796
4,456,32,free,Beautiful,HIM,212.06159,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Lily,Burns,F,2018-11-11 04:36:13.796
5,284,75,free,Supreme Balloon,Matmos,1449.11628,"Columbia, SC","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",Joseph,Gutierrez,M,2018-11-11 04:36:46.796
...,...,...,...,...,...,...,...,...,...,...,...,...
8051,867,83,free,Fell In Love Without You (Acoustic),Motion City Soundtrack,205.26975,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Stefany,White,F,2018-11-24 20:45:53.796
8052,867,83,free,The Thousand Names of Lord Shiva (Part 1),Ticanaf,2594.87302,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Stefany,White,F,2018-11-24 20:49:18.796
8053,899,26,free,Dance Like Michael Jackson,The Far East Movement,228.20526,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Ryan,Smith,M,2018-11-24 22:15:50.796
8054,899,26,free,You're A Cad,the bird and the bee,189.51791,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Ryan,Smith,M,2018-11-24 22:19:38.796
8055,366,11,free,Inevitable,Shakira,193.82812,"Elkhart-Goshen, IN","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Christian,Porter,F,2018-11-24 23:46:14.796

In [362]:
import random
import string
import numpy as np
import hashlib

song_ref = pd.DataFrame(song_play_df.song.dropna().unique(), columns=['song'])
song_ref


# def id_generator(size=6, chars=string.ascii_uppercase + string.digits):
#    return ''.join(random.SystemRandom().choice(chars) for _ in range(size))

# song_ref['song_id'] = song_ref['song'].apply(lambda x : id_generator(3))

rand_data = np.random.randint(1, 1000000000, size=5189)
rand_data


song_ref['song_id'] = rand_data

song_ref
# song_ref.nunique()

                                     song    song_id
0                              Fuck Kitty  293069016
1          By The Time This Night Is Over  589236866
2                             God & Satan  649962201
3                               Beautiful  284103908
4                         Supreme Balloon  592424330
...                                   ...        ...
5184                               Escape   58408225
5185  Fell In Love Without You (Acoustic)  694903190
5186           Dance Like Michael Jackson  346483311
5187                         You're A Cad  392624146
5188                           Inevitable  471673537

[5189 rows x 2 columns]

In [354]:
artist_ref = pd.DataFrame(song_play_df.artist.dropna().unique(), columns=['artist'])
artist_ref


data = np.random.randint(1, 1000000000, size=3148)
data

artist_ref['artist_id']= data

artist_ref

                         artist  artist_id
0                      Frumpies  817808367
1     Kenny G with Peabo Bryson  357469833
2                   Biffy Clyro  916792902
3                           HIM   32323166
4                        Matmos  361679941
...                         ...        ...
3143   KMC Featuring Beenie Man  539594115
3144                Dave Attell  872704105
3145             Robert Johnson  763651773
3146             Homesick James  354207852
3147      The Far East Movement  894333683

[3148 rows x 2 columns]

In [445]:
df_song_play = song_play_df.merge(song_ref, on='song', how='left')

df_song_play

df_song_play1 = df_song_play.merge(artist_ref, on='artist', how='left')

rawdata = np.random.randint(1, 10000000000, size=6820)
rawdata

df_song_play1['songplay_id']= rawdata

df_song_play1

,sessionId,userId,level,song,artist,length,location,userAgent,firstName,lastName,gender,timestamp,song_id,artist_id,songplay_id
0,455,69,free,Fuck Kitty,Frumpies,134.47791,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:33:56.796,293069016,817808367,4103936698
1,455,69,free,By The Time This Night Is Over,Kenny G with Peabo Bryson,264.75057,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:36:10.796,589236866,357469833,6053395533
2,455,69,free,God & Satan,Biffy Clyro,189.83138,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Anabelle,Simpson,F,2018-11-11 02:40:34.796,649962201,916792902,1020701732
3,456,32,free,Beautiful,HIM,212.06159,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Lily,Burns,F,2018-11-11 04:36:13.796,284103908,32323166,5254471930
4,284,75,free,Supreme Balloon,Matmos,1449.11628,"Columbia, SC","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",Joseph,Gutierrez,M,2018-11-11 04:36:46.796,592424330,361679941,6291597740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,867,83,free,Fell In Love Without You (Acoustic),Motion City Soundtrack,205.26975,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Stefany,White,F,2018-11-24 20:45:53.796,694903190,398411080,7829797253
6816,867,83,free,The Thousand Names of Lord Shiva (Part 1),Ticanaf,2594.87302,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Stefany,White,F,2018-11-24 20:49:18.796,179944571,901026569,3331260166
6817,899,26,free,Dance Like Michael Jackson,The Far East Movement,228.20526,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Ryan,Smith,M,2018-11-24 22:15:50.796,346483311,894333683,4288818275
6818,899,26,free,You're A Cad,the bird and the bee,189.51791,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Ryan,Smith,M,2018-11-24 22:19:38.796,392624146,603891806,9316975646
6819,366,11,free,Inevitable,Shakira,193.82812,"Elkhart-Goshen, IN","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",Christian,Porter,F,2018-11-24 23:46:14.796,471673537,147665804,535553386

In [411]:
song_table_insert_df = df_song_play1[['song_id', 'song', 'artist_id']]

song_table_insert_df.columns = ['song_id', 'title', 'artist_id']

song_table_insert_df = song_table_insert_df.drop_duplicates()

song_table_insert_df.loc[song_table_insert_df['song_id'] == 284103908]
song_table_insert_df.song_id.duplicated().sum()
song_table_insert_df.loc[song_table_insert_df.song_id.duplicated(), :]

song_table_insert_df.drop_duplicates(subset=['song_id'], inplace=True)

song_table_insert_df

        song_id                                title  artist_id
0     293069016                           Fuck Kitty  817808367
1     589236866       By The Time This Night Is Over  357469833
2     649962201                          God & Satan  916792902
3     284103908                            Beautiful   32323166
4     592424330                      Supreme Balloon  361679941
...         ...                                  ...        ...
6814   58408225                               Escape  786691279
6815  694903190  Fell In Love Without You (Acoustic)  398411080
6817  346483311           Dance Like Michael Jackson  894333683
6818  392624146                         You're A Cad  603891806
6819  471673537                           Inevitable  147665804

[5189 rows x 3 columns]

In [420]:
artist_table_insert_df = artist_ref[['artist', 'artist_id']]

artist_table_insert_df.columns =['name', 'artist_id']

artist_table_insert_df

                           name  artist_id
0                      Frumpies  817808367
1     Kenny G with Peabo Bryson  357469833
2                   Biffy Clyro  916792902
3                           HIM   32323166
4                        Matmos  361679941
...                         ...        ...
3143   KMC Featuring Beenie Man  539594115
3144                Dave Attell  872704105
3145             Robert Johnson  763651773
3146             Homesick James  354207852
3147      The Far East Movement  894333683

[3148 rows x 2 columns]

In [439]:
song_play_insert_df = df_song_play1[['songplay_id', 'timestamp', 'level', 'userId', 'song_id', 'artist_id', 'sessionId','location', 'userAgent']]

song_play_insert_df.columns =['songplay_id', 'start_time', 'level', 'user_id', 'song_id', 'artist_id', 'session_id', 'location', 'user_agent']
song_play_insert_df

,songplay_id,start_time,level,user_id,song_id,artist_id,session_id,location,user_agent
0,5253844272,2018-11-11 02:33:56.796,free,69,293069016,817808367,455,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
1,9661693455,2018-11-11 02:36:10.796,free,69,589236866,357469833,455,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
2,7916754287,2018-11-11 02:40:34.796,free,69,649962201,916792902,455,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
3,4073550579,2018-11-11 04:36:13.796,free,32,284103908,32323166,456,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
4,4382418285,2018-11-11 04:36:46.796,free,75,592424330,361679941,284,"Columbia, SC","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3..."
...,...,...,...,...,...,...,...,...,...
6815,2218793709,2018-11-24 20:45:53.796,free,83,694903190,398411080,867,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
6816,7568236417,2018-11-24 20:49:18.796,free,83,179944571,901026569,867,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
6817,4949353417,2018-11-24 22:15:50.796,free,26,346483311,894333683,899,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
6818,7052736051,2018-11-24 22:19:38.796,free,26,392624146,603891806,899,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
6819,670413150,2018-11-24 23:46:14.796,free,11,471673537,147665804,366,"Elkhart-Goshen, IN","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."

In [453]:
user_df = df_song_play1[['userId', 'firstName', 'lastName', 'gender','level']]

user_df.drop_duplicates(subset=['userId', 'firstName', 'lastName', 'gender'], inplace=True)
user_df

user_df.columns = ['user_id','first_name', 'last_name', 'gender', 'level']

user_df

<ipython-input-453-fde509f4a7e2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df.drop_duplicates(subset=['userId', 'firstName', 'lastName', 'gender'], inplace=True)

     user_id first_name  last_name gender level
0         69   Anabelle    Simpson      F  free
3         32       Lily      Burns      F  free
4         75     Joseph  Gutierrez      M  free
5         92      Ryann      Smith      F  free
10        49      Chloe     Cuevas      F  free
...      ...        ...        ...    ...   ...
3261      38     Gianna      Jones      F  free
4519      45   Dominick     Norris      M  free
5201      65      Amiya   Davidson      F  paid
5411      19    Zachary     Thomas      M  free
6508      87     Dustin        Lee      M  free

[96 rows x 5 columns]

# LOAD DATA TO DATABASE

In [ ]:
pip install SQLAlchemy

In [373]:
from sqlalchemy import create_engine

In [374]:
engine = create_engine('postgresql://postgres:1111@localhost:5432/Music_DB')

In [412]:
song_table_insert_df.to_sql('song', con = engine, if_exists = 'append', chunksize = 10000, index=False)

In [421]:
artist_table_insert_df.to_sql('artist', con = engine, if_exists = 'append', chunksize = 100000, index=False)

In [441]:
song_play_insert_df.to_sql('songplay', con = engine, if_exists = 'append', chunksize = 100000, index=False)

In [454]:
user_df.to_sql('user_table', con = engine, if_exists = 'append', chunksize = 100000, index=False)

In [474]:
timestamp_insert_df.to_sql('time', con = engine, if_exists = 'append', chunksize = 100000, index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "time_pkey"
DETAIL:  Key (time_id)=(6628283255) already exists.

[SQL: INSERT INTO time (time_id, timestamp, year, month, day, hour) VALUES (%(time_id)s, %(timestamp)s, %(year)s, %(month)s, %(day)s, %(hour)s)]
[parameters: ({'time_id': 6628283255, 'timestamp': datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 2}, {'time_id': 7714275631, 'timestamp': datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 2}, {'time_id': 6246379276, 'timestamp': datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 2}, {'time_id': 2047514016, 'timestamp': datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 4}, {'time_id': 4736750049, 'timestamp': datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 4}, {'time_id': 6929340400, 'timestamp': datetime.datetime(2018, 11, 11, 9, 56, 28, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 9}, {'time_id': 8766981623, 'timestamp': datetime.datetime(2018, 11, 11, 10, 0, 47, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 10}, {'time_id': 5732671747, 'timestamp': datetime.datetime(2018, 11, 11, 10, 4, 7, 796000), 'year': 2018, 'month': 11, 'day': 11, 'hour': 10}  ... displaying 10 of 6820 total bound parameter sets ...  {'time_id': 1796435257, 'timestamp': datetime.datetime(2018, 11, 24, 22, 19, 38, 796000), 'year': 2018, 'month': 11, 'day': 24, 'hour': 22}, {'time_id': 6371260142, 'timestamp': datetime.datetime(2018, 11, 24, 23, 46, 14, 796000), 'year': 2018, 'month': 11, 'day': 24, 'hour': 23})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)